<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Amdocs</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewCorps</servlet-name>
    <servlet-class>com.amdocs.corp.controller.ViewCorps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCorps</servlet-name>
    <url-pattern>/ViewCorps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.amdocs.user.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCorp</servlet-name>
    <servlet-class>com.amdocs.corp.controller.AddCorp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCorp</servlet-name>
    <url-pattern>/AddCorp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCorp</servlet-name>
    <servlet-class>com.amdocs.corp.controller.DeleteCorp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCorp</servlet-name>
    <url-pattern>/DeleteCorp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCorp</servlet-name>
    <servlet-class>com.amdocs.corp.controller.UpdateCorp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCorp</servlet-name>
    <url-pattern>/UpdateCorp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestAdmin</servlet-name>
    <servlet-class>com.amdocs.corp.controller.RequestAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAdmin</servlet-name>
    <url-pattern>/RequestAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPenReq</servlet-name>
    <servlet-class>com.amdocs.corp.controller.ViewPenReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPenReq</servlet-name>
    <url-pattern>/ViewPenReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReqCorpDetails</servlet-name>
    <servlet-class>com.amdocs.corp.controller.ReqCorpDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqCorpDetails</servlet-name>
    <url-pattern>/ReqCorpDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminResponse</servlet-name>
    <servlet-class>com.amdocs.corp.controller.AdminResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminResponse</servlet-name>
    <url-pattern>/AdminResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.amdocs.user.controller.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewRegistrations</servlet-name>
    <servlet-class>com.amdocs.user.controller.ViewRegistrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRegistrations</servlet-name>
    <url-pattern>/ViewRegistrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserResetPassword</servlet-name>
    <servlet-class>com.amdocs.user.controller.UserResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResetPassword</servlet-name>
    <url-pattern>/UserResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdatePassword</servlet-name>
    <servlet-class>com.amdocs.user.controller.UserUpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatePassword</servlet-name>
    <url-pattern>/UserUpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRegResponse</servlet-name>
    <servlet-class>com.amdocs.user.controller.AdminRegResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegResponse</servlet-name>
    <url-pattern>/AdminRegResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewUserCorps</servlet-name>
    <servlet-class>com.amdocs.corp.controller.ViewUserCorps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserCorps</servlet-name>
    <url-pattern>/ViewUserCorps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.amdocs.corp.controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchH</servlet-name>
    <servlet-class>com.amdocs.corp.controller.SearchH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchH</servlet-name>
    <url-pattern>/SearchH</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.amdocs.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter>
    <filter-name>CountFilter</filter-name>
    <filter-class>com.amdocs.filter.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>